/* quicksand-regular - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../fonts/quicksand-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/quicksand-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* quicksand-600 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
       url('../fonts/quicksand-v21-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/quicksand-v21-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* quicksand-700 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('../fonts/quicksand-v21-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/quicksand-v21-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 18px;
}

h1, h2, h3 {
    white-space: nowrap;
    text-transform: capitalize;
    color: black;
}
h1, h3 {
    font-weight: 700;
}

:root {
    --mainColor: #ffe3c2;
}

p > a {
    background: linear-gradient(
            to bottom, var(--mainColor) 0%,
            var(--mainColor) 100%
    ) repeat-x 0 100%;
    background-size: 0.25rem 0.25rem;
    color: black;
    text-decoration: none;
    transition: background-size .3s;
}

p > a:hover {
    background-size: 0.25rem 1rem;
    text-decoration: none;
    color: black;
}

img {
    max-width: 300px;
}
.home-logo {
    width: 300px;
    height: 114px;
}

.home nav {
    background-color: transparent;
}

.home .navbar {
    justify-content: center;
}

.home .navbar-nav {
    flex-direction: row;
}

.home .navbar-nav .nav-link {
    margin: 0 1rem;
    font-weight: 600;
    white-space: nowrap;
    text-transform: capitalize;
}

.social-links {
    display: flex;
}

.social-links a {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #aca9a8;
    color: white;
    line-height: 1;
    margin-right: 18px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.social-links a:hover {
    background: var(--mainColor);
    text-decoration: none;
    transition: all 0.3s ease-in-out 0.3s;
}


/* HEADER */

nav {
    background-color: white;
}

.navbar-nav {
    align-items: center;
    flex-wrap: wrap;
}

.navbar-expand-md .navbar-nav .nav-link,
.navbar-nav .nav-link {
    padding: 0.5rem 0;
    margin: 0 1rem;
    font-weight: 600;
    white-space: nowrap;
}

.navbar-nav .nav-link:hover {
  color:#aca9a8;
  transition: all 0.5s;
}

.navbar-nav .nav-link.active {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%) repeat-x 0 74%;
    background-size: 0.25rem 0.25rem;
    color: #000;
    text-decoration: none;
    transition: background-size .3s;
}
.navbar-nav .nav-link.active:hover {
  /*color:#aca9a8;*/
  /*transition: all 0.5s;*/
}

a.btn {
    font-size: 16px;
}

.btn-primary {
    color: black;
    border-color: #ffe3c1;
    background: #ffe3c1 none;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
    color: black;
    background-color: #c4e6e6;
    border-color: #ffe3c1;
    box-shadow: none;
}

#footer {
    margin-top: 3rem;
}

#footer .footer-logo {
    padding: 5rem;
}
