{% extends "base.html" %}

{%- block navbar -%}
  {% include 'header.html' %}
{%- endblock navbar -%}

{%- block content -%}
  <div class="home">
    <div class="container">
      <div class="row">
        <div class="h1 col-3 offset-lg-4 offset-md-5 mt-xl-5 mt-lg-4 mt-3 mb-1 mb-sm-2 mb-md-3 mb-lg-4">
          About
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-5 col-12 d-md-block d-none">
          <img src="{{ url_for('website.static', filename='images/about.png') }}"
               class="img-fluid">
        </div>

        <div class="col-lg-8 col-md-7 col-12">
          <img src="{{ url_for('website.static', filename='images/about.png') }}"
               class="img-fluid d-md-none">

          <p><a href="#">Moving Into Soft Skills</a> offers trainings and resources for
            facilitators and educators to identify needs and promote the
            development of soft skills via embodiment and somatics. It incorporates
            tools
            and principles from social pedagogy, contemporary dance, movement therapy
            and other experiential learning methods.</p>

          <p>The project emerged from recognizing the needs for the development of soft
            skills and the experience of using embodied methods in the process. The focus is on eight
            soft
            skills that are widely recognized as important predictors for career success:
            adaptability, teamwork, leadership, communication, creativity, attention and
            focus, self-regulation and learning ability.</p>
          <p>With financial support from the <a
                  href="https://ec.europa.eu/programmes/erasmus-plus/node_en">European
            Commission</a>, the Soft Skills Mapping Tool and the Embodied Soft Skills Training resources
            are published as an open educational resource. Our
            objective is to be a valuable resource for facilitators and educators working with communities
            that would benefit greatly from the soft skills training but have limited
            access to existing market alternatives due to economic, social or structural
            reasons.</p>
        </div>
      </div>

      <div class="row">
        <div class="h1 col-3 offset-lg-4 offset-md-5 mt-xl-5 mt-lg-4 mt-3 mb-1 mb-sm-2 mb-md-3 mb-lg-4">
          Approach
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-5 col-12 d-md-block d-none">
          <img src="{{ url_for('website.static', filename='images/approach.png') }}"
               class="img-fluid">
        </div>
        <div class="col-lg-8 col-md-7 col-12">
          <img src="{{ url_for('website.static', filename='images/approach.png') }}"
               class="img-fluid d-md-none">
          <p>You might wonder, what is the connection between a human body and its
            movement
            and improving soft skills. Recall a moment when weight was lifted off your
            shoulders! It felt good, right?</p>
          <p>This experience would not be possible without our bodies and us sensing
            ourselves. This ability is so self-evident that we hardly pay attention to
            it,
            but the MOSS team believes it is high time to acknowledge and value this
            resource. We live in, with and through our bodies, and somatic approach
            invites you to benefit from sensing, moving and giving shape to your goals
            in
            order to learn and thrive.</p>
          <p>We understand somatics as an educational approach that prioritizes body and
            movement as the key dimension in developing soft skills. The mind exists
            within a living body. Movement experience is one of the sources of
            knowledge.
            By combining different movement activities with reflection, we increase
            awareness of our abilities and limitations, our patterns and tendencies.
            Many
            body experiences can be used as metaphors to understand better the processes
            and challenges we experience as professionals and as human beings - at work
            and in relationship with other beings.</p>
          <p>Exposing ourselves to new body practices helps us to develop skills and
            change
            behavioural patterns. Movement gives us a chance to practice who we want to
            be
            and how we want to be. Therefore, it can be a much more powerful learning
            tool
            than books, lectures or discussions. Our approach seeks to acknowledge the
            value of the body, movement and our own experience as a way to continuously
            learn.</p>
          <p>The soft skills we are addressing with MOSS cannot be learned from books,
            so
            what better way to dive into the skills than by moving, alone and with
            others!</p>

        </div>
      </div>

      <div class="row">
        <div class="h1 col-3 offset-lg-4 offset-md-5 mt-xl-5 mt-lg-4 mt-3 mb-1 mb-sm-2 mb-md-3 mb-lg-4">
          Partners
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-5 col-12 d-md-block d-none">
          <img src="{{ url_for('website.static', filename='images/islo.png') }}"
               class="img-fluid">
        </div>
        <div class="col-lg-8 col-md-7 col-12">
          <div>
            <img src="{{ url_for('website.static', filename='images/islo.png') }}"
                 class="img-fluid  d-md-none mb-2">
          </div>
          <p><a href="https://www.islo.fi/en/home">Eastern
            Finland Sports Institute</a> <a
                  href="https://www.islo.fi/en/dance-and-somatics">Education in Dance
            and Somatics</a> is a year-long full-time vocational education program
            offered by Eastern Finland Sports Institute - a part of the Finnish network
            of sports institutes. Students of diverse backgrounds and from all over the
            world are supported in integrating the skills originating from somatics,
            dance and dialogical pedagogy in their working lives. The competencies
            taught include experiential education in somatic methods, movement
            exploration, improvisation, creative process and art, self-knowledge,
            self-organization and group facilitation skills.</p>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-lg-4 col-md-5 col-12 d-md-block d-none">
          <img src="{{ url_for('website.static', filename='images/idm.png') }}"
               class="img-fluid">
        </div>
        <div class="col-lg-8 col-md-7 col-12">
          <div>
            <img src="{{ url_for('website.static', filename='images/idm.png') }}"
                 class="img-fluid d-md-none mb-2">
          </div>
          <p>Dance and personality culture center <a
                  href="https://i-deja.lv/en/">I-dejas Maja</a> is an association of
            independent dance and somatic teachers. It is also a place in Riga, Latvia -
            offering 3 dance halls filled with more than 20 dance and somatic classes
            and workshops for the adults as well for youth and children. For several
            years I-DEJAS MAJA is the one of the Creative Quarters of Riga as well. Our
            main goal is to give the experience that empowers to really love dancing,
            moving and experiencing our body. The main quality is our offer - humble
            professionality in a cozy atmosphere.</p>
        </div>
      </div>


      <div class="row mt-3">
        <div class="col-lg-4 col-md-5 col-12 d-md-block d-none">
          <img src="{{ url_for('website.static', filename='images/cuas.png') }}"
               class="img-fluid">
        </div>
        <div class="col-lg-8 col-md-7 col-12">
          <div>
            <img src="{{ url_for('website.static', filename='images/cuas.png') }}"
                 class="img-fluid d-md-none mb-2">
          </div>
          <p><a href="https://www.fh-kaernten.at/en/en">Carinthia
            University of Applied Sciences</a> is situated in southern Austria. Founded
            in 1995, it now offers 40 study programs for around 2000 students.
            Interdisciplinary work at CUAS is given high priority leading to new
            synergies between study areas. The MOSS project involves the Faculty of
            Health Care and Social Services. It offers BA and MA degree programs in
            Healthcare Management and Social Work, as well as BA degrees in
            physiotherapy, midwifery, occupational therapy, disability and diversity
            studies, as well as nursing.</p>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-lg-4 col-md-5 col-12 d-md-block d-none">
          <img src="{{ url_for('website.static', filename='images/burdag.png') }}"
               class="img-fluid">
        </div>
        <div class="col-lg-8 col-md-7 col-12">
          <div>
            <img src="{{ url_for('website.static', filename='images/burdag.png') }}"
                 class="img-fluid d-md-none mb-2">
          </div>
          <p><a href="http://fundacjaburdag.com/en/">Burdag
            Foundation</a> supports experiments, innovation and learning in the field of
            dance, performance and creative exchange. Its mission is to develop and
            promote art and education related to the body, as well as support the
            community of choreographers, dance practitioners, teachers and learners. The
            Foundation runs <a href="http://burdagstudio.com/en/">Studio Burdąg</a> - a
            space for interdisciplinary research, training and creative exchange in the
            Masuria region of Poland and facilitates <a href="http://centrumwruchu.pl/">Center
              in Motion</a> - collective of choreographers in Warsaw.</p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="h1 col-3 offset-xl-4  offset-md-3 offset-sm-4 mt-xl-5 mt-lg-4 mt-3 mb-1 mb-sm-2 mb-md-3 mb-lg-4">
          Team
        </div>
      </div>
      <div class="row mt-lg-5">
        {% for member in team %}
          <div class="col-xl-2 col-md-3 col-sm-4 {{ 'offset-xl-2' if loop.index in [1, 5, 9] }} d-sm-block d-none mt-lg-5 mt-sm-4">
            <img src="{{ url_for('website.static', filename='images/' + member.image) }}"
                 class="img-fluid">
          </div>
          <div class="col-xl-3 col-md-9 col-sm-8 mt-lg-5 mt-sm-4">
            <img src="{{ url_for('website.static', filename='images/' + member.image) }}"
                 class=" d-sm-none">
            <blockquote>
              <p class="mb-0">{{ member.description }}</p>
              <footer class="blockquote-footer text-right">{{ member.name }},
                <cite>{{ member.signature }}</cite></footer>
            </blockquote>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{%- endblock -%}

{%- block footer -%}
  {% include 'footer.html' %}
{%- endblock footer -%}
