{% from 'macros.html' import add_css %}

{%- block doc -%}
  <!DOCTYPE html>
  <html lang="en">
  {%- block html -%}
    <head>
      <title>{%- block title -%}{{ title }}{%- endblock title -%}</title>
      {%- block metas -%}
        {% include 'metadata.html' %}
      {%- endblock metas -%}

      {%- block styles -%}
        {{ add_css('styles/bootstrap.min.css', endpoint='website.static') }}
        {{ add_css('styles/main.css', endpoint='website.static') }}
      {%- endblock -%}
    </head>

    <body>
    {%- block body -%}
      {%- block navbar -%}
      {%- endblock navbar -%}

      {%- block content -%}
      {%- endblock content -%}

      {%- block footer -%}
      {%- endblock footer -%}

      {%- block scripts -%}
        <script src="{{ url_for('website.static', filename='scripts/bootstrap-native.min.js') }}"></script>
      {%- endblock scripts -%}
    {%- endblock body -%}
    </body>
  {%- endblock html -%}
  </html>
{%- endblock doc -%}
