{% extends "base.html" %}

{%- block navbar -%}
  {% include 'header.html' %}
{%- endblock navbar -%}

{%- block content -%}
  <div class="home">
    <div class="container">
      <div class="row">
        <div class="h1 col-3 offset-lg-4 offset-md-5 mt-xl-5 mt-lg-4 mt-3 mb-1 mb-sm-2 mb-md-3 mb-lg-4">
          Contact
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-5 col-12 d-md-block d-none">
          <img src="{{ url_for('website.static', filename='images/contact.png') }}"
               class="img-fluid">
        </div>

        <div class="col-lg-8 col-md-7 col-12">
          <img src="{{ url_for('website.static', filename='images/contact.png') }}"
               class="img-fluid d-md-none">
          <p>We would be happy to be in contact with you.</p>
          <p>Write us: <strong>info at MovingIntoSoftSkills.com</strong>.</p>

          <h4 class="mt-5">MOSS on social media</h4>
          <ul>
            <li><a
                    href="https://www.facebook.com/movingintosoftskills"
                    aria-label="MOSS facebook page"
                    target="_blank"
                    rel="noopener noreferrer nofollow">Facebook page</a>
            </li>
            <li><a
                    href="https://www.instagram.com/moving.into.soft.skills"
                    aria-label="MOSS Instagram profile"
                    target="_blank"
                    rel="noopener noreferrer nofollow">Instagram</a>
            </li>
            <li><a
                    href="https://www.vimeo.com/movingintosoftskills"
                    aria-label="MOSS vimeo page"
                    target="_blank"
                    rel="noopener noreferrer nofollow">Vimeo</a>
            </li>
            <li><a
                    href="https://www.youtube.com/channel/UCxAF8o1SFXuGDR4df7W-dZw"
                    aria-label="MOSS youtube channel"
                    target="_blank"
                    rel="noopener noreferrer nofollow">Youtube</a>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </div>
{%- endblock -%}

{%- block footer -%}
  {% include 'footer.html' %}
{%- endblock footer -%}
