<footer id="footer">
  <div class="footer-logo text-center">
    <img height="15"
         src="{{ url_for('website.static', filename='images/logo.svg') }}"
         alt="MOSS - Moving into Soft Skills" loading="lazy">
  </div>
</footer>
