{% from 'macros.html' import menu_link %}

<header class="">
  <nav class="navbar navbar-expand-md navbar-light sticky-top">
    <a class="navbar-brand" href="/">
      <img height="30" class="d-inline-block align-top"
           src="{{ url_for('website.static', filename='images/logo.svg') }}"
           alt="MOSS - Moving into Soft Skills" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        {% for key, item in pages.items() %}
          {{ menu_link(item['link'], item['title']) }}
        {% endfor %}
      </div>
    </div>
  </nav>
</header>
