{% extends "base.html" %}
{% from 'macros.html' import menu_link %}

{%- block navbar -%}
  {#  {% include 'header.html' %}#}
{%- endblock navbar -%}

{%- block content -%}
  {#  <div class="home">#}
  <main class="home">
    <div class="container">
      <div class="row mt-5">
        <div class="col-12 text-center pt-5">
        <div class="home-logo m-auto">
          <img src="{{ url_for('website.static', filename='images/logo_square.svg') }}">
        </div>
          <nav class="navbar navbar-light my-5">
            <div class="navbar-nav">
              {% for key, item in pages.items() %}
                {% if key != 'home' %}
                  {{ menu_link(item['link'], item['title']) }}
                {% endif %}
              {% endfor %}
            </div>
          </nav>
          <p class="text-dark">Moving into Soft Skills offers a framework for working and developing Soft
            Skills through embodied, somatic and movement practices. The outcome is
            proving highly effective and life changing.</p>
          <p>Contact us for consultancy, workshops, trainings and more: <strong>info&nbsp;at&nbsp;MovingIntoSoftSkills.com</strong>.</p>
          <p class="text-black-50">This website contains mostly information and resources for
            facilitators.</p>
        </div>
      </div>
    </div>
  </main>
  {#  </div>#}
{%- endblock -%}

{%- block footer -%}
  {% include 'footer.html' %}
{%- endblock footer -%}
