{% macro add_css(file_url, endpoint) %}
  {% set url = url_for(endpoint, filename=file_url) %}
  <link rel="preload" href="{{ url }}" as="style">
  <link rel="stylesheet" href="{{ url }}">
{% endmacro %}

{% macro menu_link(link, title) %}
  <a class="nav-item nav-link {{ 'active' if active_page == link else '' }}"
     href="/{{ link + '.html' if link != '' else '' }}">{{ title }}</a>
{% endmacro %}
