{% extends "base.html" %}

{%- block navbar -%}
  {% include 'header.html' %}
{%- endblock navbar -%}

{%- block content -%}
  <div class="home">
    <div class="container">
      <div class="h1 mt-xl-5 mt-lg-4 mt-3 ">
        Soft Skills Mapping Tool
      </div>

      <p class="mt-4">The Soft Skills Mapping Tool is an intuitive and relaxed medium
        for
        exploring, reflecting and understanding soft skills and the effects of their
        presence or absence.</p>

      <div class="embed-responsive embed-responsive-16by9 my-4">
        <iframe class="embed-responsive-item"
                src="https://player.vimeo.com/video/530422247"
                allow="autoplay; fullscreen; picture-in-picture"
                allowfullscreen></iframe>
      </div>

      <p>Identify the needs of a client, a team, a group or your own. What role do
        your
        soft skills play in your profession? What does a certain team, group or
        individual need, in terms of soft skills, for achieving their mission? These
        are only some of the questions that the Soft Skills Mapping Tool will help
        you to answer.</p>

      <p>The Mapping Tool offers a process that can be used to understand which soft
        skills are the most important for a person’s profession, to identify and
        understand their strengths, weaknesses and opportunities for further
        development.</p>

      <p>Although created with a facilitator in mind, the Tool can nonetheless be
        used as a self-reflection process.</p>

      <p>Soft Skills mapping can be a first step in a longer soft skills development
        process. Use it together with the Embodied Soft Skills Training Handbook to
        prepare a training programme that will best benefit the participants! </p>


      <div class="h1 my-xl-5 my-4">
        Resources
      </div>
      <dl class="row">
        <dt class="col-md-4">Soft Skills Mapping Tool - Handbook</dt>
        <dd class="col-md-8"><p>The handbook introduces key concepts about the Mapping
          Tool and explains how to conduct a Soft Skills Mapping Session.</p>
          <p><a class="btn btn-primary"
                href="{{ url_for('website.static', filename='resources/Soft Skills Mapping Tool - Handbook.pdf') }}"
                target="_blank"
                role="button"><svg version="1.1" width="1rem" height="1rem" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 481 481" style="enable-background:new 0 0 481 481;" xml:space="preserve"><path d="M230.95,394.3c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l87.7-87.7c5.3-5.3,5.3-13.8,0-19.1c-5.3-5.3-13.8-5.3-19.1,0l-64.7,64.7			V13.5c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v338.6l-64.7-64.7c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1L230.95,394.3z"/><path d="M439.55,354.7c-7.5,0-13.5,6-13.5,13.5V454H54.85v-85.8c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v99.3 c0,7.5,6,13.5,13.5,13.5h398.3c7.5,0,13.5-6,13.5-13.5v-99.3C453.05,360.7,447.05,354.7,439.55,354.7z"/></svg> Soft Skills Mapping Tool - Handbook</a></p>
          <p>The handbook is also available in <a class=""
                href="{{ url_for('website.static', filename='resources/Soft Skills Mapping Tool - Handbook (DE).pdf') }}"
                                                  target="_blank">German</a>, <a class=""
                href="{{ url_for('website.static', filename='resources/Soft Skills Mapping Tool - Handbook (PL).pdf') }}"
                                                  target="_blank">Polish</a>, <a class=""
                href="{{ url_for('website.static', filename='resources/Soft Skills Mapping Tool - Handbook (FI).pdf') }}"
                                                  target="_blank">Finnish</a>, and <a class=""
                href="{{ url_for('website.static', filename='resources/Soft Skills Mapping Tool - Handbook (LV).pdf') }}"
                                                  target="_blank">Latvian</a>.</p>
        </dd>
{#        <div>#}
{#        </div>#}

        <dt class="col-md-4">Soft Skills Mapping Tool</dt>
        <dd class="col-md-8">
          <p>This is the Mapping Tool itself in a PDF which you can print and cut out the individual pieces. Use it to conduct Soft
            Skills Mapping sessions.</p>
            <p><a class="btn btn-primary"
                href="{{ url_for('website.static', filename='resources/Soft Skills Mapping Tool (color).pdf') }}"
                target="_blank"
                role="button"><svg version="1.1" width="1rem" height="1rem" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 481 481" style="enable-background:new 0 0 481 481;" xml:space="preserve"><path d="M230.95,394.3c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l87.7-87.7c5.3-5.3,5.3-13.8,0-19.1c-5.3-5.3-13.8-5.3-19.1,0l-64.7,64.7			V13.5c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v338.6l-64.7-64.7c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1L230.95,394.3z"/><path d="M439.55,354.7c-7.5,0-13.5,6-13.5,13.5V454H54.85v-85.8c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v99.3 c0,7.5,6,13.5,13.5,13.5h398.3c7.5,0,13.5-6,13.5-13.5v-99.3C453.05,360.7,447.05,354.7,439.55,354.7z"/></svg> Soft Skills Mapping Tool (color)</a>
          <a class="btn btn-primary my-3 my-xl-0 mx-xl-4"
                href="{{ url_for('website.static', filename='resources/Soft Skills Mapping Tool.pdf') }}"
                target="_blank"
                role="button"><svg version="1.1" width="1rem" height="1rem" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 481 481" style="enable-background:new 0 0 481 481;" xml:space="preserve"><path d="M230.95,394.3c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l87.7-87.7c5.3-5.3,5.3-13.8,0-19.1c-5.3-5.3-13.8-5.3-19.1,0l-64.7,64.7			V13.5c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v338.6l-64.7-64.7c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1L230.95,394.3z"/><path d="M439.55,354.7c-7.5,0-13.5,6-13.5,13.5V454H54.85v-85.8c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v99.3 c0,7.5,6,13.5,13.5,13.5h398.3c7.5,0,13.5-6,13.5-13.5v-99.3C453.05,360.7,447.05,354.7,439.55,354.7z"/></svg> Soft Skills Mapping Tool (black-white)</a></p>
        </dd>

        <dt class="col-md-4">Visual instructions for the Mapping session</dt>
        <dd class="col-md-8"><p>The visual instructions can be a handy and provide an easy way to remember the flow of a Soft Skills Mapping session.</p>
          <p><a class="btn btn-primary"
                href="{{ url_for('website.static', filename='resources/Soft Skills Mapping Tool - Visual instructions.pdf') }}"
                target="_blank"
                role="button"><svg version="1.1" width="1rem" height="1rem" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 481 481" style="enable-background:new 0 0 481 481;" xml:space="preserve"><path d="M230.95,394.3c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l87.7-87.7c5.3-5.3,5.3-13.8,0-19.1c-5.3-5.3-13.8-5.3-19.1,0l-64.7,64.7			V13.5c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v338.6l-64.7-64.7c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1L230.95,394.3z"/><path d="M439.55,354.7c-7.5,0-13.5,6-13.5,13.5V454H54.85v-85.8c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v99.3 c0,7.5,6,13.5,13.5,13.5h398.3c7.5,0,13.5-6,13.5-13.5v-99.3C453.05,360.7,447.05,354.7,439.55,354.7z"/></svg> Mapping session visual instructions</a></p>
        </dd>

        <dt class="col-md-4">Bridging Template:<br>Mapping session -> Embodied training</dt>
        <dd class="col-md-8"><p>This template supports the processing a Mapping session and using it as a foundation for creating an Embodied Soft Skills Training.</p>
          <p><a class="btn btn-primary"
                href="{{ url_for('website.static', filename='resources/Soft Skills Mapping Tool - Bridging Template (color).pdf') }}"
                target="_blank"
                role="button"><svg version="1.1" width="1rem" height="1rem" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 481 481" style="enable-background:new 0 0 481 481;" xml:space="preserve"><path d="M230.95,394.3c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l87.7-87.7c5.3-5.3,5.3-13.8,0-19.1c-5.3-5.3-13.8-5.3-19.1,0l-64.7,64.7			V13.5c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v338.6l-64.7-64.7c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1L230.95,394.3z"/><path d="M439.55,354.7c-7.5,0-13.5,6-13.5,13.5V454H54.85v-85.8c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v99.3 c0,7.5,6,13.5,13.5,13.5h398.3c7.5,0,13.5-6,13.5-13.5v-99.3C453.05,360.7,447.05,354.7,439.55,354.7z"/></svg> Bridging Template (color)</a>
          <a class="btn btn-primary my-3 my-xl-0 mx-xl-4"
                href="{{ url_for('website.static', filename='resources/Soft Skills Mapping Tool - Bridging Template.pdf') }}"
                target="_blank"
                role="button"><svg version="1.1" width="1rem" height="1rem" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 481 481" style="enable-background:new 0 0 481 481;" xml:space="preserve"><path d="M230.95,394.3c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l87.7-87.7c5.3-5.3,5.3-13.8,0-19.1c-5.3-5.3-13.8-5.3-19.1,0l-64.7,64.7			V13.5c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v338.6l-64.7-64.7c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1L230.95,394.3z"/><path d="M439.55,354.7c-7.5,0-13.5,6-13.5,13.5V454H54.85v-85.8c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v99.3 c0,7.5,6,13.5,13.5,13.5h398.3c7.5,0,13.5-6,13.5-13.5v-99.3C453.05,360.7,447.05,354.7,439.55,354.7z"/></svg> Bridging Template (black-white)</a></p>

        </dd>
      </dl>

      <p class="font-weight-bolder mt-xl-5 mb-xl-3  my-4">
        Soft Skills Mapping Session - How to (6min video)
      </p>
      <div class="embed-responsive embed-responsive-16by9 my-4">
        <iframe class="embed-responsive-item"
                src="https://player.vimeo.com/video/515473440"
                allow="autoplay; fullscreen; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </div>
  </div>

{%- endblock -%}

{%- block footer -%}
  {% include 'footer.html' %}
{%- endblock footer -%}
