<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index"/>
<meta name="apple-mobile-web-app-capable" content="YES"/>

<link rel="icon" sizes="192x192" href="{{ url_for('favicon_png') }}"/>

<meta name="theme-color" content="#eee8d5">
{#<link rel="manifest" href="{{ url_for('manifest') }}">#}

<meta name="msvalidate.01" content="1E3839D777C0A06CC0DC12559203DC14" />

<link rel="canonical" href="https://movingintosoftskills.com{{request.path}}" />

<meta name="title" content="{{ title }}" />
<meta name="description" content="{{ description }}" />

<meta property="og:title" content="{{ title }}">
<meta property="og:site_name" content="Moving into Soft Skills">
<meta property="og:type" content="website" />
<meta property="og:url" content="https://movingintosoftskills.com{{request.path}}" />
<meta property="og:description" content="{{ description }}" />

<script data-schema="Organization" type="application/ld+json">{"@type":"Organization","@context":"http://schema.org","name":"{{ title }}","url":"movingintosoftskills.com","image":"{{ image }}","telephone":"","email":"info@movingintosoftskills.com","description":"{{ description }}","location":{"@type":"Place","address":{"@type":"PostalAddress","addressLocality":"City","postalCode":"","streetAddress":""}}}</script>
