{% extends "base.html" %}

{%- block navbar -%}
  {% include 'header.html' %}
{%- endblock navbar -%}

{%- block content -%}
  <div class="home">
    <div class="container-fluid">

      <div class="h1 text-center mt-xl-5 mt-lg-4 mt-3 mb-1 mb-sm-2 mb-md-3 mb-lg-4">
        Soft Skills
      </div>
      <div class="container my-5">
        <blockquote class="blockquote text-center px-5">
          <small class="mb-0">Soft skills are personal attributes that enable someone to
            interact effectively and harmoniously with other people.</small>
          <footer class="blockquote-footer"><cite title="Lexico dictionary">Lexico
            dictionary</cite></footer>
        </blockquote>
        <p class="px-5 pt-5">Soft skills have many names: transversal skills, 21st
          century skills, non-cognitive skills, essential skills, intra- and
          interpersonal skills. They are human skills: subjective in nature and
          intangible, difficult to describe, quantify, identify and are hardly taught in
          classrooms.</p>

        <p class="px-5">Soft skills are evident in attitudes and responses to different
          situations.
          Having certain soft skills well-developed may facilitate career progression
          and give individuals more opportunities than usual.</p>

        <p class="px-5">Let's look at an example of communication, which is one of the
          soft skills.
          One element of skilled communication is an efficient use of voice. You may
          have noticed a situation in which someone possibly had a negative or sarcastic
          attitude while saying something and the whole pleasant atmosphere collapsed.
          In contrast, you might have also witnessed a moment in which a person used a
          positive and friendly attitude and tone of voice to change a negative
          situation and atmosphere. The tone of voice conveys our emotion, and a skilled
          communicator knows how to consciously modify their voice to create a desired
          atmosphere.</p>

        <p class="px-5">Although subjective, soft skills are often approached from an
          objective
          perspective, which creates a subtle dissonance. By integrating embodiment and
          somatic concepts into learning tools, MOSS offers an innovative solution for
          developing soft skills.</p>

        <p class="px-5">People from certain professions that are more embodied, such as
          dancers or
          actors, are known to have a high level of certain soft skills. Through this
          Mapping Tool and Embodied Soft Skills Training, developing these skills is
          accessible, without taking theatre or dance classes.</p>

        <p class="px-5 pb-3">Below you will find a brief review, with our
          interpretation, of
          each soft
          skill we focus on. We encourage you and your trainees to shape your own
          understanding of each skill. This reflection can be an important part of the
          whole learning process.</p>
      </div>
      <div class="row mt-lg-5">
        <div class="col-lg-2 offset-xl-2 col-sm-4 d-sm-block d-none">
          <img src="{{ url_for('website.static', filename='images/blue-communication.png') }}"
               class="img-fluid">
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-8">
          <h3>Communication</h3>
          <div class="mx-auto">
            <img src="{{ url_for('website.static', filename='images/blue-communication.png') }}"
                 class=" d-sm-none">

          </div>
          <p>is a process of information exchange, or more broadly, creating and
            exchanging meaning. Successful communication requires the ability to adapt
            to the listener, as well as actively listen, stay connected and interested
            in the partner. Communication also entails readiness to be seen, heard and
            express oneself. All kinds of movement practices that take place in pairs or
            groups usually require communication and negotiation, creating a space where
            a person can explore his or her own communication challenges and learn to
            address them better.</p>
        </div>

        <div class="col-lg-2 col-sm-4 d-sm-block d-none mt-lg-0 mt-sm-4">
          <img src="{{ url_for('website.static', filename='images/cream-self-regulation.png') }}"
               class="img-fluid">
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-8 mt-lg-0 mt-sm-4">
          <h3>Self-regulation</h3>
          <img src="{{ url_for('website.static', filename='images/cream-self-regulation.png') }}"
               class=" d-sm-none">
          <p>is the ability to manage emotions, impulses, energy, inner resources from
            within. It is responsible for keeping a healthy balance, which is expressed
            for example in the ability to take care of oneself in a relevant manner.
            Strategies for self-regulation may involve taking a pause between impulse
            and action, or learning to set boundaries. Going for a long distance hike
            might be a simple way to discover the power of the body to teach us to
            regulate ourselves, as it requires us to deal with tiredness, pain and lack
            of motivation, manage energy to be able to reach the destination or find the
            courage to stop the walk and admit our boundaries.</p>
        </div>
      </div>
      <div class="row mt-lg-5">
        <div class="col-lg-2 col-sm-4 d-sm-block d-none mt-lg-0 mt-sm-4">
          <img src="{{ url_for('website.static', filename='images/cream-creativity.png') }}"
               class="img-fluid">
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-8 mt-lg-0 mt-sm-4">
          <h3>Creativity</h3>
          <img src="{{ url_for('website.static', filename='images/cream-creativity.png') }}"
               class=" d-sm-none">
          <p>is a cognitive process, which leads to new, original ideas, concepts,
            definition of the problems and their solutions. An essential element of the
            creative process is the ability to perceive the world in new ways, transcend
            habitual ways of thinking or acting. It may be seeking new combinations,
            making connections between seemingly unrelated phenomena, finding hidden
            patterns and noticing new relationships among objects or concepts. In a
            narrower sense creativity can be defined also as an expression of ideas,
            imagination, experiences and emotions in a range of arts, and that we can
            practice through moving, dancing, building, crafting and other
            activities.</p>
        </div>

        <div class="col-lg-2 col-sm-4 d-sm-block d-none mt-lg-0 mt-sm-4">
          <img src="{{ url_for('website.static', filename='images/blue-adaptability.png') }}"
               class="img-fluid">
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-8 mt-lg-0 mt-sm-4">
          <h3>Adaptability</h3>
          <img src="{{ url_for('website.static', filename='images/blue-adaptability.png') }}"
               class=" d-sm-none">
          <p>is an ability to change in different circumstances, while staying
            functional. Change often goes hand in hand with ambiguity, which makes
            uncertainty tolerance an important element of adaptability. Adaptability
            also requires the ability to see different options for course of action. It
            might require us to let go of certain expectations and stubbornness. Bodily
            practices such as improvisation and bodywork offer us plenty of different
            contexts where we can learn to listen, to act in ambiguous situations, adapt
            to our partners or certain movement possibilities and limitations.</p>
        </div>
      </div>
      <div class="row mt-lg-5">

        <div class="col-lg-2 offset-xl-2 col-sm-4 d-sm-block d-none mt-lg-0 mt-sm-4">
          <img src="{{ url_for('website.static', filename='images/blue-learning-ability.png') }}"
               class="img-fluid">
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-8 mt-lg-0 mt-sm-4">
          <h3>Learning Ability</h3>
          <img src="{{ url_for('website.static', filename='images/blue-learning-ability.png') }}"
               class=" d-sm-none">
          <p>is the skill to comprehend, to understand and gain from the experience. It
            requires awareness of one’s learning process, preferences and needs. A good
            learner knows different learning strategies, recognises learning
            opportunities and is able to choose most suitable methods and tools. The
            ability to learn also includes evaluating one’s own work and identifying the
            need to seek support. Somatic approach can help us to discover the joy of
            learning through play and from mistakes, and give us courage to jump into
            the unknown and uncomfortable - as starting a new movement practice often
            requires a good amount of stretching your comfort zone, physically and
            mentally.</p>
        </div>

        <div class="col-lg-2 col-sm-4 d-sm-block d-none mt-lg-0 mt-sm-4">
          <img src="{{ url_for('website.static', filename='images/cream-teamwork.png') }}"
               class="img-fluid">
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-8 mt-lg-0 mt-sm-4">
          <h3>Teamwork</h3>
          <img src="{{ url_for('website.static', filename='images/cream-teamwork.png') }}"
               class=" d-sm-none">
          <p>is working together to achieve a shared goal. Skilful team member
            contributes actively to team tasks, knows how to clarify roles and
            responsibilities in the team, promotes communication among team members and
            requests and offers support when needed. Important elements of teamwork are
            the ability to manage disagreements constructively and being aware of the
            team processes. Many traditional team building activities are based on tasks
            that require physically supporting each other, achieving together something
            we can’t do alone. Trying out partner acrobatics, learning massage
            techniques together or playing team sports can be a great starting point to
            become more skilled in teamwork.</p>
        </div>
      </div>
      <div class="row mt-lg-5">
        <div class="col-lg-2 col-sm-4 d-sm-block d-none mt-lg-0 mt-sm-4">
          <img src="{{ url_for('website.static', filename='images/cream-leadership.png') }}"
               class="img-fluid">
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-8 mt-lg-0 mt-sm-4">
          <h3>Leadership</h3>
          <img src="{{ url_for('website.static', filename='images/cream-leadership.png') }}"
               class=" d-sm-none">
          <p>is the ability to turn an idea or a given goal into concrete actions in a
            team. Leading implies a direction towards the set goal and it is the
            leader’s task to ensure that goal is being reached. Leadership entails
            visioning, setting goals, instructing, serving, encouraging, taking
            responsibility, managing, facilitating and making decisions to name a few.
            With the help of movement activities we can explore different leadership
            styles and develop our authentic approach. We can become more aware of our
            behaviours, strengths and weaknesses as leaders, and we can experience those
            moments of being seen, taking space and empowering others to take space.</p>
        </div>

        <div class="col-lg-2 col-sm-4 d-sm-block d-none mt-lg-0 mt-sm-4">
          <img src="{{ url_for('website.static', filename='images/blue-attention.png') }}"
               class="img-fluid">
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-8 mt-lg-0 mt-sm-4">
          <h3>Attention and Focus</h3>
          <img src="{{ url_for('website.static', filename='images/blue-attention.png') }}"
               class=" d-sm-none">
          <p>is the ability to shut out distractions and concentrate on a target
            stimulus - aim, task or a project - for any period of time, as well as the
            ability to recover quickly from a distraction or disruption. On a bigger
            scale, it is also the ability to define what is necessary and what is not
            relevant for any kind of work. While human average attention span is
            declining, the ability to focus is required more than ever. Attention has
            become one of our most valuable resources. Practices such as body scans and
            meditation teaches us to remain present with ourselves, others and
            environment, providing a powerful training of our skills to focus.
          </p>
        </div>
      </div>
    </div>
  </div>
{%- endblock -%}

{%- block footer -%}
  {% include 'footer.html' %}
{%- endblock footer -%}
