{% extends "base.html" %}

{%- block navbar -%}
  {% include 'header.html' %}
{%- endblock navbar -%}

{%- block content -%}
  <div class="home">
    <div class="container">
      <div class="row">
        <div class="h1 col-lg-8 col-md-7 col-12 offset-lg-4 offset-md-5 mt-xl-5 mt-lg-4 mt-3 mb-1 mb-sm-2 mb-md-3 mb-lg-4">
          Embodied Soft Skills Training
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-5 col-12 d-md-block d-none">
          <img src="{{ url_for('website.static', filename='images/training.png') }}"
               class="img-fluid">
        </div>

        <div class="col-lg-8 col-md-7 col-12">
          <img src="{{ url_for('website.static', filename='images/training.png') }}"
               class="img-fluid d-md-none">

          <p>Leading trainings and facilitating groups is an art. Facilitators are
            continuously looking for tools and solutions to issues that show up during
            sessions. This handbook offer guidelines to facilitate groups through
            embodied experiences and towards developing soft skills.</p>

          <p>Working with soft skills can be challenging due to their subjective nature
            and participants' lack of familiarity with embodied approaches. This
            handbook, together with the Soft Skills Mapping Tool and the Exercise
            Database provide a framework and method for creating successful and
            effective soft skills training.</p>

          <p>Embodied Soft Skills Training handbook is for educators who want to put
            themselves in the frontier of the soft skills training landscape. The
            handbook uses clear language to support you in each aspect of facilitating
            groups.</p>

          <p>Embodiment and somatics are the perfect match for facilitating development
            of soft skills. Use this material together with the accompanying Exercise
            Database to build great experiences which people both enjoy and learn
            from.</p>

          <p>Accept the invitation and dive deeper into embodied practices to develop
            your own soft skills while supporting others to do the same.</p>
        </div>

      </div>

      <div class="h1 my-xl-5 my-4">
        Resources
      </div>
      <dl class="row">
        <dt class="col-md-4">Embodied Soft Skills Training - Handbook</dt>
        <dd class="col-md-8"><p>The handbook introduces key concepts, guidelines and suggestions for creating and facilitating successful training.</p>
          <p><a class="btn btn-primary"
                href="{{ url_for('website.static', filename='resources/Embodied Soft Skills Training - Handbook.pdf') }}"
                target="_blank"
                role="button">
            <svg version="1.1" width="1rem" height="1rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 481 481"><path d="M230.95,394.3c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l87.7-87.7c5.3-5.3,5.3-13.8,0-19.1c-5.3-5.3-13.8-5.3-19.1,0l-64.7,64.7	V13.5c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v338.6l-64.7-64.7c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1L230.95,394.3z"/><path d="M439.55,354.7c-7.5,0-13.5,6-13.5,13.5V454H54.85v-85.8c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v99.3 c0,7.5,6,13.5,13.5,13.5h398.3c7.5,0,13.5-6,13.5-13.5v-99.3C453.05,360.7,447.05,354.7,439.55,354.7z"/></svg>
            Embodied Soft Skills Training - Handbook</a>
{#          <a class="btn btn-primary mt-3"#}
{#                href="{{ url_for('website.static', filename='resources/Embodied Soft Skills Training - Handbook.pdf') }}"#}
{#                target="_blank"#}
{#                role="button">#}
{#            <svg version="1.1" width="1rem" height="1rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 481 481"><path d="M230.95,394.3c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l87.7-87.7c5.3-5.3,5.3-13.8,0-19.1c-5.3-5.3-13.8-5.3-19.1,0l-64.7,64.7	V13.5c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v338.6l-64.7-64.7c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1L230.95,394.3z"/><path d="M439.55,354.7c-7.5,0-13.5,6-13.5,13.5V454H54.85v-85.8c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v99.3 c0,7.5,6,13.5,13.5,13.5h398.3c7.5,0,13.5-6,13.5-13.5v-99.3C453.05,360.7,447.05,354.7,439.55,354.7z"/></svg>#}
{#            Embodied Soft Skills Training - Handbook (black-white)</a>#}
          </p>
          <p>The handbook is also available in <a class=""
                href="{{ url_for('website.static', filename='resources/Embodied Soft Skills Training - Handbook (DE).pdf') }}"
                                                  target="_blank">German</a>, <a class=""
                href="{{ url_for('website.static', filename='resources/Embodied Soft Skills Training - Handbook (FI).pdf') }}"
                                                  target="_blank">Finnish</a>, <a class=""
                href="{{ url_for('website.static', filename='resources/Embodied Soft Skills Training - Handbook (LV).pdf') }}"
                                                  target="_blank">Latvian</a>, and <a class=""
                href="{{ url_for('website.static', filename='resources/Embodied Soft Skills Training - Handbook (PL).pdf') }}"
                                                  target="_blank">Polish</a>.</p>
        </dd>
        <dt class="col-md-4">Exercise database</dt>
        <dd class="col-md-8">
          <p>A collaboratively created collection of exercises to easy the process of creating Embodied Soft Skills training</p>
          <p><a class="btn btn-primary"
                href="{{ url_for('website.static', filename='resources/Embodied soft skills training - Collection of exercises (09-03-2021).pdf') }}"
                target="_blank"
                role="button">
            <svg version="1.1" width="1rem" height="1rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 481 481"><path d="M230.95,394.3c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l87.7-87.7c5.3-5.3,5.3-13.8,0-19.1c-5.3-5.3-13.8-5.3-19.1,0l-64.7,64.7			V13.5c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v338.6l-64.7-64.7c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1L230.95,394.3z"/><path d="M439.55,354.7c-7.5,0-13.5,6-13.5,13.5V454H54.85v-85.8c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v99.3 c0,7.5,6,13.5,13.5,13.5h398.3c7.5,0,13.5-6,13.5-13.5v-99.3C453.05,360.7,447.05,354.7,439.55,354.7z"/></svg>
            Collection of exercises (print)</a>
          <a class="btn btn-primary mt-3 my-xl-0 mx-xl-4"
                href="https://vimeo.com/522377063/77bd372975"
                rel="noreferrer noopener"
                target="_blank"
                role="button">
            <svg version="1.1" width="1rem" height="1rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M488.727,0H302.545c-12.853,0-23.273,10.42-23.273,23.273c0,12.853,10.42,23.273,23.273,23.273h129.997L192.999,286.09 c-9.087,9.087-9.087,23.823,0,32.912c4.543,4.543,10.499,6.816,16.455,6.816c5.956,0,11.913-2.273,16.455-6.817L465.455,79.458 v129.997c0,12.853,10.42,23.273,23.273,23.273c12.853,0,23.273-10.42,23.273-23.273V23.273C512,10.42,501.58,0,488.727,0z"/><path d="M395.636,232.727c-12.853,0-23.273,10.42-23.273,23.273v209.455H46.545V139.636H256c12.853,0,23.273-10.42,23.273-23.273 S268.853,93.091,256,93.091H23.273C10.42,93.091,0,103.511,0,116.364v372.364C0,501.58,10.42,512,23.273,512h372.364 c12.853,0,23.273-10.42,23.273-23.273V256C418.909,243.147,408.489,232.727,395.636,232.727z"/></svg>
            How to use the database (2min video)</a>
            <a class="btn btn-primary mt-3"
                href="https://airtable.com/shrKRUN1sGr91amZy"
                rel="noreferrer noopener"
                target="_blank"
                role="button">
            <svg version="1.1" width="1rem" height="1rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M488.727,0H302.545c-12.853,0-23.273,10.42-23.273,23.273c0,12.853,10.42,23.273,23.273,23.273h129.997L192.999,286.09 c-9.087,9.087-9.087,23.823,0,32.912c4.543,4.543,10.499,6.816,16.455,6.816c5.956,0,11.913-2.273,16.455-6.817L465.455,79.458 v129.997c0,12.853,10.42,23.273,23.273,23.273c12.853,0,23.273-10.42,23.273-23.273V23.273C512,10.42,501.58,0,488.727,0z"/><path d="M395.636,232.727c-12.853,0-23.273,10.42-23.273,23.273v209.455H46.545V139.636H256c12.853,0,23.273-10.42,23.273-23.273 S268.853,93.091,256,93.091H23.273C10.42,93.091,0,103.511,0,116.364v372.364C0,501.58,10.42,512,23.273,512h372.364 c12.853,0,23.273-10.42,23.273-23.273V256C418.909,243.147,408.489,232.727,395.636,232.727z"/></svg>
            Exercise database (full screen)</a>
            <a class="btn btn-primary mt-3 mx-xl-4"
                href="https://airtable.com/shrNIvHI0mJ55CYHp"
                rel="noreferrer noopener"
                target="_blank"
                role="button">
            <svg version="1.1" width="1rem" height="1rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M488.727,0H302.545c-12.853,0-23.273,10.42-23.273,23.273c0,12.853,10.42,23.273,23.273,23.273h129.997L192.999,286.09 c-9.087,9.087-9.087,23.823,0,32.912c4.543,4.543,10.499,6.816,16.455,6.816c5.956,0,11.913-2.273,16.455-6.817L465.455,79.458 v129.997c0,12.853,10.42,23.273,23.273,23.273c12.853,0,23.273-10.42,23.273-23.273V23.273C512,10.42,501.58,0,488.727,0z"/><path d="M395.636,232.727c-12.853,0-23.273,10.42-23.273,23.273v209.455H46.545V139.636H256c12.853,0,23.273-10.42,23.273-23.273 S268.853,93.091,256,93.091H23.273C10.42,93.091,0,103.511,0,116.364v372.364C0,501.58,10.42,512,23.273,512h372.364 c12.853,0,23.273-10.42,23.273-23.273V256C418.909,243.147,408.489,232.727,395.636,232.727z"/></svg>
            Contribute to the database</a></p>
        </dd>
      </dl>
      <iframe class="airtable-embed" src="https://airtable.com/embed/shrKRUN1sGr91amZy?backgroundColor=green&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
    </div>
  </div>
{%- endblock -%}

{%- block footer -%}
  {% include 'footer.html' %}
{%- endblock footer -%}
